div#notebook-container
  box-shadow: none !important

  h1,h2
    font-family: 'Roboto', sans-serif
    color #28abe2
  p,ul,ol
    font-family: 'Raleway', sans-serif
  ul > li
    list-style-type: disc !important
  img
    width: 80%
    margin: 0 auto

.prompt
  display: none

twitterwidget
  margin: 0 auto

